<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/main.css" rel = "stylesheet">
</head>
<body>
    <div th:replace = "~{nav.html::navbar}"></div>
    <form action="/add" method="POST">
        <!--csrf 설정 시 해야됨-->
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input name = "title">
        <input name = "price">
        <input name = "username" th:value = "${username}">
        <button>전송</button>
    </form>
</body>
</html>