<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/main.css" rel = "stylesheet">
</head>
<body>
    <div th:replace = "~{nav.html::navbar}"></div>
    <form action="/add" method="POST">
        <!--csrf 설정 시 해야됨-->
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input name = "title">
        <input name = "price">
        <input name = "username" th:value = "${username}">
        <button>전송</button>
    </form>
    <input type = "file" onchange="getURL(this)">
    <img src = "">
    <script>
        async function getURL(e) {
            let name = encodeURIComponent(e.files[0].name)
            let result = await fetch('/presigned-url?filename=' + name)
            result = await result.text()
            console.log(result)

            let check = await fetch(result, {
                method: 'PUT',
                body: e.files[0]
            })
            console.log(check)
            console.log(check.url)
            console.log(check.url.split("?")[0])
            if (check.ok) {
                document.querySelector('img').src = check.url.split("?")[0]
            }
        }
    </script>
</body>
</html>